.BackButton__Container {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 0.9375em;
  width: fit-content;
  padding: 0.3125em;

  border-radius: 0.3125em;
  color: black;

  img {
    margin-right: 0.625em;
  }

  &:hover {
    background: lightgray;
  }
}
