.Input__Container {
  display: flex;
  flex-direction: column;

  margin-bottom: 0.625em;
}

.Input__Container_Required {
  label::after {
    content: "  *";
    color: red;
  }
}

label {
  margin-bottom: 0.3125em;
}
