.Button {
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-style: none;
  border-radius: 0.3125em;
  color: white;
  background: var(--blue);

  &:hover {
    background: var(--blue-selected);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }
}
