.Tab__Container {
  border: 2px solid var(--blue);
  padding-top: 0.325em;
  padding-bottom: 0.325em;
}

.Tab__Selected {
  color: white;
  background: var(--blue-selected);
  border: 2px solid var(--blue-selected);
}
